<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Software</title>
</head>
<body>
    <h2>Registrar Software</h2>
    <form id="softwareForm" onsubmit="registerSoftware(event)">
        <label for="name">Nombre del Software:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="version">Versión:</label><br>
        <input type="text" id="version" name="version" required><br>
        <label for="description">Descripción:</label><br>
        <textarea id="description" name="description" required></textarea><br>
        <label for="developer">Desarrollador:</label><br>
        <input type="text" id="developer" name="developer" required><br>
        <label for="contact">Contacto:</label><br>
        <input type="email" id="contact" name="contact" required><br>
        <label for="owner">Propietario:</label><br>
        <input type="text" id="owner" name="owner" required><br>
        <label for="license">Licencia:</label><br>
        <input type="text" id="license" name="license" required><br>
        <button type="submit">Registrar</button>
    </form>

    <script>
    function getTokenFromUrl() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('token');
    }

    const tokeni = getTokenFromUrl()
    localStorage.setItem("token", tokeni);

    async function registerSoftware(event) {
        event.preventDefault();
        const form = document.getElementById("softwareForm");
        const formData = new FormData(form);
        const data = {
            name: formData.get("name"),
            version: formData.get("version"),
            description: formData.get("description"),
            developer: formData.get("developer"),
            contact: formData.get("contact"),
            owner: formData.get("owner"),
            license: formData.get("license")
        };
        const token = localStorage.getItem('token');
        const response = await fetch(`http://127.0.0.1:5006/user/software?token=${token}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        const result = await response.json();
        alert(result.message);
    }
    </script>
</body>
</html>
